version: 2.1

jobs:
  build-android:
    docker:
      - image: cimg/android:2024.01.1-node
    environment:
      JAVA_OPTS: "-Xmx4g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=-Xmx4g"
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install
      
      - run:
          name: Install CMake and Ninja
          command: |
            sudo apt-get update && sudo apt-get install -y cmake ninja-build
            echo "Installing Android SDK components..."
            yes | sdkmanager "cmake;3.22.1" "ndk;25.1.8937393"

      - run:
          name: Expo Prebuild
          command: npx expo prebuild --platform android --no-install

      - run:
          name: Build Debug APK
          command: |
            cd android
            chmod +x gradlew
            ./gradlew assembleDebug

      - store_artifacts:
          path: android/app/build/outputs/apk/debug/app-debug.apk
          destination: app-debug.apk

workflows:
  build-flow:
    jobs:
      - build-android
